---
import Layout from "../layouts/Layout.astro";
import AfficheTnw from "../assets/img/affiche_theneighborswindow.webp";
import affichePupille from "../assets/img/affiche_pupille.webp";
import AfficheParasite from "../assets/img/affiche_parasite.webp";
import AfficheLesGardiennes from "../assets/img/affiche_gardiennes.webp";
import Cardformule from "../components/Cardformule.astro";
import { getFormuleByPrice } from "../../backend/backend.mjs";
import IconIut from "/src/assets/icons/icon-ufc.svg";
import IconMmi from "/src/assets/icons/icon-MMI_montbéliard.png";
import IconVosges from "/src/assets/icons/departement.svg";
const formules = await getFormuleByPrice();
---

<Layout>
  <div class="px-7 pt-16">
    <p class="pb-2.5">
      Bienvenue à Cinémagny, le festival incontournable dédié à la célébration
      du 7e art sous toutes ses formes ! Ce rendez-vous unique offre une riche
      sélection de films, allant des longs métrages aux courts, en passant par
      des documentaires et des films d'animation.
    </p>

    <p>
      Cinémagny se distingue par son engagement à promouvoir les talents
      émergents du cinéma indépendant et à mettre en lumière des artistes
      locaux. Vous y découvrirez des œuvres méconnues, originales et innovantes,
      dans un cadre authentique au cœur des Vosges.
    </p>

    <div class="flex justify-center items-center">
      <a
        class="bg-background mb-6 px-13 shadow-lg"
        href="/festival"
        aria-label="En savoir plus sur le festival"
        >En savoir plus sur le festival</a
      >
    </div>
  </div>

  <section>
    <header>
      <h2>Les Films à la Une</h2>
    </header>

    <div
      class="grid grid-cols-2 md:grid-cols-4 gap-2 md:gap-4 justify-center items-center px-4 md:px-12 md:max-w-6xl md:mx-auto"
    >
      <img
        class="w-36 h-56 md:w-56 md:h-80 lg:w-64 lg:h-96 mx-auto transition-transform duration-300 hover:scale-105"
        src={AfficheTnw.src}
        alt="affiche du film The Neighbors Window"
      />
      <img
        class="w-36 h-56 md:w-56 md:h-80 lg:w-64 lg:h-96 mx-auto transition-transform duration-300 hover:scale-105"
        src={affichePupille.src}
        alt="affiche du film Pupille"
      />
      <img
        class="w-36 h-56 md:w-56 md:h-80 lg:w-64 lg:h-96 mx-auto transition-transform duration-300 hover:scale-105"
        src={AfficheParasite.src}
        alt="affiche du film Parasite"
      />
      <img
        class="w-36 h-56 md:w-56 md:h-80 lg:w-64 lg:h-96 mx-auto transition-transform duration-300 hover:scale-105"
        src={AfficheLesGardiennes.src}
        alt="affiche du film Les Gardiennes"
      />
    </div>

    <div class="flex justify-center items-center mt-4 md:mt-8">
      <a
        class="bg-blue text-white px-14 py-2 shadow-lg transition-transform hover:scale-105"
        href="/programme"
        aria-label="Voir la programmation complète">La programmation complète</a
      >
    </div>
  </section>

  <section>
    <header>
      <h2>Formules & Tarifs</h2>
    </header>

    <ul class="flex justify-center items-center flex-col gap-20">
      {
        formules.map((formule) => (
          <li>
            <Cardformule {...formule} />
          </li>
        ))
      }
    </ul>

    <div class="flex justify-center items-center pt-6">
      <a
        class="bg-brown mb-6 px-19 shadow-lg"
        href="/billeterie"
        aria-label="L'ensemble de nos tarifs">L'ensemble de nos tarifs</a
      >
    </div>
  </section>

  <section>
    <header>
      <h2>Notre Engagement Écoresponsable</h2>
    </header>

    <p class="px-7">
      L'écoresponsabilité est au cœur de notre festival. Nous nous engageons à
      réduire notre impact environnemental en privilégiant des pratiques
      durables, de l'utilisation de matériaux recyclés à la promotion de
      transports verts. Ensemble, faisons du cinéma un vecteur de changement
      pour un avenir plus respectueux de la planète.
    </p>

    <div class="flex justify-center items-center">
      <a
        class="bg-blue text-white px-8 shadow-lg"
        href="/ecoresponsabilite"
        aria-label="Aller à notre page engagement"
      >
        Nos engagements écoresponsables
      </a>
    </div>
  </section>

  <section>
    <header>
      <h2>Nos Partenaires</h2>
    </header>

    <div class="flex justify-center items-center flex-col">
      <a
        href="https://www.iut-nfc.univ-fcomte.fr/"
        target="_blank"
        aria-label="Visite le site partenaire UFC Nord Franche comté"
      >
        <img src={IconIut.src} alt="icon-itu" />
      </a>
      <a
        href="https://www.iut-nfc.univ-fcomte.fr/b-u-t-metiers-du-multimedia-et-de-linternet/"
        target="_blank"
        aria-label="Visite le site partenaire MMI Montbéliard"
      >
        <img src={IconMmi.src} alt="icon-mmi" />
      </a>
      <a href="https://www.vosges.fr/" target="_blank">
        <img
          src={IconVosges.src}
          alt="icon-vosges"
          aria-label="Visite le site partenaire des Vosges "
        />
      </a>
    </div>
  </section>
</Layout>
